html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
  max-width: 25em;
  margin: 1.5rem 0 0 1.5rem;
  display: inline-block;
}

h2 {
  display: inline-block;
  margin: 1.5rem;
  text-align: left;
}

p {
  display: inline-block;
  margin: auto 1.5rem auto 1.5rem;
  max-width: 25em;
  text-align: left;
}

.btn {
  margin: 1.5rem;
  display: inline-block;
  background-color: #f2f2f2;
  border: 3px solid #333;
  color: black;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  padding: .5em;
}

a:hover {
  background-color: #666;
  border: 3px solid #666;
  color: #f2f2f2;
}
